*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(17 14 75);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,103,9,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.card.z-index-max{
    z-index:6;
    /* scale: 1.2; */
    box-shadow: 0px 0px 15px 8px black;
}
#main{
    width: 700px;
    height: 500px;
    margin: 50px auto;
    border-radius: 1rem;
}
.width{
    width: 250px;
    height: 335px;
    margin: 3rem 10px;
    position: absolute;
    box-shadow: 0px 0px 15px 4px black;
    translate:-50%
}

.filter{
    filter: grayscale(100) blur(3px);
    perspective: 250px;
}

.button-container{
    position: absolute;
    top: 105%;
    transform:translate(-50%,-50%);
    z-index: 50;  
}

#btn-next{
    box-shadow: 5px 5px 5px black;
    background-color: #D8B08C;
    color: black;
    font-weight: bold;
}

.title p{
    font-size: 18px;
}

.card.center-center{
    left:50%
}

.center{
   left:50%
}

.low-left{
    left:60%
}

.mid-left{
    left: 70%;
}

.max-left{
    left: 78%;
}

.low-right{
    left: 25%;
}

.max-right{
    left: 35%;
}

.z-ind-3{
    z-index: 3;
}

.z-ind-2{
    z-index: 2;
}

.z-ind-1{
    z-index: 1;
}

.card.scale-12{
    transform: scale(1.2);
    box-shadow: 4px 5px 38px 20px black;
}

.scale-1{
    transform: scale(1);
}

.scale-08{
    transform: scale(0.8);
}

.scale-07{
    transform: scale(0.7);
}
